body {
  font-size: 14px;
  overflow: hidden;
}

h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 30px;
  margin-top: 30px;
}

h3, .h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.jumbotron h1,
.jumbotron .h1,
.jumbotron h2,
.jumbotron .h2,
.jumbotron h3,
.jumbotron .h3,
.jumbotron h4,
.jumbotron .h4,
.jumbotron h5,
.jumbotron .h5 {
  margin-top: 0;
  margin-bottom: 10px;
}

.jumbotron h1.display-1 {
  margin-bottom: 20px;
}

blockquote {
  background-color: #e0f2ff;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: #333;
  clear: both;
  overflow: auto;
}

blockquote > p::before {
  content: "\1F6C8";
  display: block;
  font-size: 24px;
  margin-right: 10px;
  float: left;
  line-height:
}

.content blockquote p {
  float: left;
  margin-bottom: 0;
}

.content {
  overflow-y: scroll;
  max-height:85vh;
}

.content img {
  border: none;
  padding: 0;
}

ul.menu {
  overflow-y: scroll;
  max-height: 85vh;
}

ul.menu li.category {
  margin-right: 5px;
}

ul.menu li.category:not(.active) {
  margin-left: 5px;
}

.menu .category-title,
.menu .category-title > a {
  margin-top: 0;
  font-size: 1em;
  text-transform: none;
}

.menu .subcategory-title.active > span {
  font-weight: bold;
}

.menu .pages.collapse li,
.menu .pages.collapsing li {
  text-indent: 10px;
}

.menu .pages.collapse li > a,
.menu .pages.collapsing li > a {
  text-indent: 0;
}

.menu .category.active > .category-title > a,
.menu .page.active > a,
.menu .subcategory-title.active {
  color: #007bff;
}

.menu ul.pages {
  margin-bottom: 5px;
}

.menu li.category.active {
  background-color: #f8f9fa;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.menu li.category.active > .category-title {
  margin-top: 0;
}

.menu ul.pages ul {
  list-style-type: none;
  padding-left: 20px;
}

/*The beagle-home-categories styles below are almost identical to the default raneto ones but the element with the .home-categories class
gets some weird inline styles added by an unidentified process at some point during the page's creation which leads to a undesired layout*/
.beagle-home-categories {
  margin: 20px 10px;
}

.beagle-home-categories div div.card {
  border: 0;
  margin-top: 10px;
}

.beagle-home-categories .card-heading {
  margin: 0;
  font-weight: bold;
  padding: 5px 0;
}

.beagle-home-categories .card-heading,
.beagle-home-categories .card .page {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#table-of-contents + ul {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

#table-of-contents + ul,
#table-of-contents + ul ul {
  padding-left: 20px;
}