<div class="home-search jumbotron row">
  <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<form class="search-form form-inline" action="{{config.base_url}}/">
	  <div class="col-sm-12">
	  <h1 class="display-1">Welcome to the Beagle Knowledge Base</h1>
      <h2>Looking for something specific?</h2>
	  </div>
      <div class="form-group">
        <label class="sr-only" for="home-search">{{lang.home.searchKnowledgeBase}}</label>
		<div class="input-group input-group-lg">
          <input type="search" class="form-control" name="search" id="home-search" size="50" placeholder="{{lang.home.searchKnowledgeBase}}">
		  <div class="input-group-append">
            <button type="submit" class="btn btn-primary">{{lang.global.search}}</button>
          </div>
		</div>
      </div>
    </form>
  </div>
</div>

<div class="col-sm-12">
  
  <p class="lead">Blah blah blah</p>
</div>

<div class="home-categories row">
  <div class="col col-sm-4 col-xs-12">
    <div class="card {{class}}">
	  <h2 class="card-heading">{{lang.global.mainArticles}}</h2>
	  <ul class="list-group pages">
	    {{#files}}
		  <li class="list-group-item page"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
	    {{/files}}
	  </ul>
    </div>
  </div>
</div>
